<h1>About</h1>
<p>Crowd-Sourced Review Site Objectives </p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Our Objectives</h3>
  </div>
  <div class="panel-body">
    <p>Here, users can rate local restaurants, or other areas of interest.</p>
    <p>Ratings can be in form of any metrics user chooses, and may include a comment/explanation.</p>
    <p>Users can create a list of their "favourite restaurants".</p>
    <p>There is also an option to add a new restauranst to review.</p>
  </div>
</div>
